*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.film {
  width: 90%;
  margin: 4% auto;
}

.film-box {
  border-color: lightgrey;
  border-width: 2px;
  border-style: solid;
  padding: 2%;
  display: inline-block;
}

.action-watch-later{
  color: red;
  float: right;

}

.action-like {
color: red;
float: right;
}

.film-details{
  display: inline-block;
  width: 50%;
  float: right;
}

.film-poster{
  width: 50%;
  float:left;
  padding: 2%;
}


/*.film
width: 70%;
border-bottom-color: black;
border: 10px;
margin: 50px auto;
display: inline-flex;*/
/*
.action-watch-later {
    color: red;
    display: block;
    position: relative;
    top: -101%;
}

article.film {
    position: relative;
    margin: 6%;
    /* border-bottom-color: black; */
/*    border: 10px;
}

p.film-description {
    padding-left: 10%;
}

.action-like {
    float: right;
    color: red;
}

h1.film-title {
    padding-left: 10%;
} */
